In [2]:
# 1 판다스와 넘파이를 임포트하기
import pandas as pd
import numpy as np

In [ ]:
# 2 판다스 버전 출력
pd.__version__

In [ ]:
# 3 판다스 라이브러리 버전 정보 모두 출력
pd.show_versions()

In [7]:
# 4 주어진 값으로 DataFrame 객체 생성
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(data, labels)

In [ ]:
# 5 객체 내부의 정보를 출력하시오
df

In [ ]:
# 6 객체 상위 3열까지 출력하시오
df.head(3)

In [ ]:
# 7 animal과 age 컬럼만 출력하시오
df[['animal', 'age']]

In [ ]:
# 8 객체의 3, 4, 8번 행에 해당하는 animal과 age 값만 출력
df[['animal', 'age']].loc[['c', 'd', 'h']]

In [ ]:
# 9 visit 컬럼에서 3 초과하는 값 출력
df.loc[df['visits'] > 3]

In [9]:
# 10 age에서 NaN 값 출력
df.loc[df['age'].isnull()]

  animal  age  visits priority
d    dog  NaN       3      yes
h    cat  NaN       1      yes

In [ ]:
# 11 age가 3살 미만인 고양이의 값 출력
df.loc[(df['age'] < 3) & (df['animal'] == 'cat')]

In [ ]:
# 12 age가 2살 이상 4살 미만인 값 출력
df.loc[(df['age'] >= 2) & (df['age'] < 4)]

In [8]:
# 13 f 행의 나이를 1.5살로 변경
df.loc['f', 'age'] = 1.5
df

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  1.5       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

In [ ]:
# 14 객체에서 visit의 합 출력
df['visits'].sum()

In [ ]:
# 15 동물별로 나이의 평균 출력
df['age'].groupby(df['animal']).mean()

In [ ]:
# 16 k열을 추가하여 dog, 5.5세, 우선권없음(no), 방문회수 2회 열을 추가
df.loc['k'] = ['dog', 5.5, 2, 'no']
df

In [ ]:
# 16-1 이전 문항에서 추가한 열 삭제
df.drop(['k'], inplace=True)
df

In [ ]:
# 17 객체에 있는 동물의 종류의 수 출력
len(df['animal'].unique())

In [ ]:
# 18 age 는 내림차순, visits 는 오름차순으로 정렬
df.sort_values('age', ascending=False).sort_values('visits')

In [ ]:
# 19 priority 의 yes를 True, no 를 False  로 맵핑 후 출력
df['priority'] = df['priority'].map({'yes': True, 'no': False})
df

In [ ]:
# 20 snake 를 python 으로 값을 변경
df['animal'] = df['animal'].replace({'snake': 'python'})
df

In [ ]:
# 21 피벗 테이블을 활용하여
# 각각의 동물 유형과 방문 횟수에 대해, 평균나이를 찾으시오.
# 각 행은 animal 이고, 각 열은 visit 이며, 값은 평균연령
df.pivot_table(index='animal', columns='visits', values='age', aggfunc='mean')

In [ ]:
# 22. 다음 객체에서 키값 A와 중복된 값이 제거된 1,2,3,4,5,6,7 이 출려되는 코드를 작성
df = pd.DataFrame({'A': [1, 2, 2, 3, 4, 5, 5, 5, 6, 7, 7]})
df['A'].unique()

In [5]:
# 23. 다음 객체에서 행의 각 요소에서 행의 평균을 뺀 값을 출력
df = pd.DataFrame(np.random.random(size=(5, 3)))
def sub(val, sub):
    return val-sub

for i in df.index.values:
    avg = df.loc[i].mean()
    df.loc[i] = df.loc[i].map(lambda a: sub(a, avg))
df

          0         1         2
0  0.014766  0.403725  0.029083
1 -0.112943  0.166930 -0.444103
2  0.322450 -0.259141  0.197779
3 -0.335963 -0.115153  0.096243
4  0.111690 -0.196362  0.120998

In [5]:
# 24. 다음 객체에서 가장 작은 합계를 가진 숫자열의 열을 출력
df = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))
smallest = len(df.index.values)
idx = 0
for i in df.columns.values:
    if df[i].sum() > smallest:
        continue
    else:
        smallest = df[i].sum()
        idx = i
df[idx]

0    0.385370
1    0.156753
2    0.387201
3    0.240394
4    0.277098
Name: b, dtype: float64

In [8]:
# 25. 다음 객체에서 중복된 값이 없는 유니크한 열의 카운트 출력(중복되지 않은 행은 몇 개..)
# 한국어인데 무슨 소리인지 정확히 모르겠음
df = pd.DataFrame(np.random.randint(0, 2, size=(10, 3)))
df

   0  1  2
0  1  1  0
1  0  0  0
2  0  0  0
3  1  0  0
4  0  0  0
5  0  0  0
6  1  0  1
7  0  1  0
8  0  0  1
9  1  1  0

In [10]:
# 26. 객체의 각 행에 대해 세번째 NaN 값이 들어 있는 열을 찾으시오. 일련의 열 레이블을 반환해야 합니다.
# 답은 e, c, d, h, d 입니다.
nan = np.nan
data = [[0.04,  nan,  nan, 0.25,  nan, 0.43, 0.71, 0.51,  nan,  nan],
        [ nan,  nan,  nan, 0.04, 0.76,  nan,  nan, 0.67, 0.76, 0.16],
        [ nan,  nan, 0.5 ,  nan, 0.31, 0.4 ,  nan,  nan, 0.24, 0.01],
        [0.49,  nan,  nan, 0.62, 0.73, 0.26, 0.85,  nan,  nan,  nan],
        [ nan,  nan, 0.41,  nan, 0.05,  nan, 0.61,  nan, 0.48, 0.68]]
columns = list('abcdefghij')
df = pd.DataFrame(data, columns=columns)

cnt = [0 for i in df.index.values]
answer = ['' for i in df.index.values]
for i in df.columns.values:
    gette = df.loc[df[i].isnull()]
    for j in gette.index.values:
        cnt[j] += 1
        if cnt[j] == 3:
            answer[j] = i
answer

['e', 'c', 'd', 'h', 'd']

In [ ]:
# 27. 다음 객체에서 grps 에서 a, b, c 별로 가장 큰 값을 찾으시오.
# 출력 결과는 
#  grps
#   a    409
#   b    156
#   c    345
# 이렇게 나옵니다.
df = pd.DataFrame({'grps': list('aaabbcaabcccbbc'), 
                   'vals': [12,345,3,1,45,14,4,52,54,23,235,21,57,3,87]})
df

In [13]:
# 28 다음 객체를 list 로 변환하시오
df = pd.DataFrame({'A':[1,2,3], 'B':[4,5,6]})
[np.array(df[i].tolist()) for i in df.columns.values]

[array([1, 2, 3]), array([4, 5, 6])]

In [18]:
# 29 다음 객체를 dictionary 로 변환하시오
df = pd.DataFrame({'A':[1,2,3], 'B':[4,5,6]})
df.to_dict('list')

{'A': [1, 2, 3], 'B': [4, 5, 6]}

In [25]:
# 30 다음 객체를 customer_id 를 인덱스로하고 product_code 를 컬럼으로, purchare_amount 를 값으로, 재구성하시오
df = pd.DataFrame({"customer_id":['kim','lee','park','song','yoon','kang','tak','ryu','jang'],
               "product_code":['com','phone','tv','com','phone','tv','com','phone','tv'],
               "grade":['A','A','A','A','A','A','B','B','B'],
               "purchase_amount":[30,10,0,40,15,30,0,0,10]})
ef = df.pivot_table(index='customer_id', columns='product_code', values='purchase_amount', aggfunc='any')
ef

product_code    com  phone     tv
customer_id
jang            NaN    NaN   True
kang            NaN    NaN   True
kim            True    NaN    NaN
lee             NaN   True    NaN
park            NaN    NaN  False
ryu             NaN  False    NaN
song           True    NaN    NaN
tak           False    NaN    NaN
yoon            NaN   True    NaN

In [26]:
# 31 30번 객체를 
#    customer_id 와 grade 를 인덱스로하고 product_code 를 컬럼으로, 
#    purchare_amount 를 값으로, 재구성하시오
ff = ef.pivot_table (index=['customer_id', 'grade'], columns='product_code', values='purchase_amount', aggfunc='any')
ff

KeyError: 'purchase_amount'