In [1]:
import pandas as pd
import numpy as np
# 26. 객체의 각 행에 대해 세번째 NaN 값이 들어 있는 열을 찾으시오. 일련의 열 레이블을 반환해야 합니다.
# 답은 e, c, d, h, d 입니다.

In [9]:
nan = np.nan
data = [[0.04,  nan,  nan, 0.25,  nan, 0.43, 0.71, 0.51,  nan,  nan],
        [ nan,  nan,  nan, 0.04, 0.76,  nan,  nan, 0.67, 0.76, 0.16],
        [ nan,  nan, 0.5 ,  nan, 0.31, 0.4 ,  nan,  nan, 0.24, 0.01],
        [0.49,  nan,  nan, 0.62, 0.73, 0.26, 0.85,  nan,  nan,  nan],
        [ nan,  nan, 0.41,  nan, 0.05,  nan, 0.61,  nan, 0.48, 0.68]]
columns = list('abcdefghij')
df = pd.DataFrame(data, columns=columns)
df

      a   b     c     d     e     f     g     h     i     j
0  0.04 NaN   NaN  0.25   NaN  0.43  0.71  0.51   NaN   NaN
1   NaN NaN   NaN  0.04  0.76   NaN   NaN  0.67  0.76  0.16
2   NaN NaN  0.50   NaN  0.31  0.40   NaN   NaN  0.24  0.01
3  0.49 NaN   NaN  0.62  0.73  0.26  0.85   NaN   NaN   NaN
4   NaN NaN  0.41   NaN  0.05   NaN  0.61   NaN  0.48  0.68

In [ ]:
df.columns.values

In [ ]:
df.index.values

In [11]:
cnt = [0 for i in df.index.values]
cnt

[0, 0, 0, 0, 0]

In [ ]:
df.loc[0, 'a']

In [12]:
answer = ['' for i in df.index.values]
for i in df.columns.values:
    gette = df.loc[df[i].isnull()]
    for j in gette.index.values:
        cnt[j] += 1
        if cnt[j] == 3:
            answer[j] = i
answer

    a   b     c     d     e    f     g     h     i     j
1 NaN NaN   NaN  0.04  0.76  NaN   NaN  0.67  0.76  0.16
2 NaN NaN  0.50   NaN  0.31  0.4   NaN   NaN  0.24  0.01
4 NaN NaN  0.41   NaN  0.05  NaN  0.61   NaN  0.48  0.68
[0, 1, 1, 0, 1]
      a   b     c     d     e     f     g     h     i     j
0  0.04 NaN   NaN  0.25   NaN  0.43  0.71  0.51   NaN   NaN
1   NaN NaN   NaN  0.04  0.76   NaN   NaN  0.67  0.76  0.16
2   NaN NaN  0.50   NaN  0.31  0.40   NaN   NaN  0.24  0.01
3  0.49 NaN   NaN  0.62  0.73  0.26  0.85   NaN   NaN   NaN
4   NaN NaN  0.41   NaN  0.05   NaN  0.61   NaN  0.48  0.68
[1, 2, 2, 1, 2]
      a   b   c     d     e     f     g     h     i     j
0  0.04 NaN NaN  0.25   NaN  0.43  0.71  0.51   NaN   NaN
1   NaN NaN NaN  0.04  0.76   NaN   NaN  0.67  0.76  0.16
3  0.49 NaN NaN  0.62  0.73  0.26  0.85   NaN   NaN   NaN
[2, 3, 2, 2, 2]
    a   b     c   d     e    f     g   h     i     j
2 NaN NaN  0.50 NaN  0.31  0.4   NaN NaN  0.24  0.01
4 NaN NaN  0.41 NaN  0.05  NaN  0.61 NaN  0.48  0.68
[2, 3, 3, 2, 3]
      a   b   c     d   e     f     g     h   i   j
0  0.04 NaN NaN  0.25 NaN  0.43  0.71  0.51 NaN NaN
[3, 3, 3, 2, 3]
    a   b     c     d     e   f     g     h     i     j
1 NaN NaN   NaN  0.04  0.76 NaN   NaN  0.67  0.76  0.16
4 NaN NaN  0.41   NaN  0.05 NaN  0.61   NaN  0.48  0.68
[3, 4, 3, 2, 4]
    a   b    c     d     e    f   g     h     i     j
1 NaN NaN  NaN  0.04  0.76  NaN NaN  0.67  0.76  0.16
2 NaN NaN  0.5   NaN  0.31  0.4 NaN   NaN  0.24  0.01
[3, 5, 4, 2, 4]
      a   b     c     d     e     f     g   h     i     j
2   NaN NaN  0.50   NaN  0.31  0.40   NaN NaN  0.24  0.01
3  0.49 NaN   NaN  0.62  0.73  0.26  0.85 NaN   NaN   NaN
4   NaN NaN  0.41   NaN  0.05   NaN  0.61 NaN  0.48  0.68
[3, 5, 5, 3, 5]
      a   b   c     d     e     f     g     h   i   j
0  0.04 NaN NaN  0.25   NaN  0.43  0.71  0.51 NaN NaN
3  0.49 NaN NaN  0.62  0.73  0.26  0.85   NaN NaN NaN
[4, 5, 5, 4, 5]
      a   b   c     d     e     f     g     h   i   j
0  0.04 NaN NaN  0.25   NaN  0.43  0.71  0.51 NaN NaN
3  0.49 NaN NaN  0.62  0.73  0.26  0.85   NaN NaN NaN
[5, 5, 5, 5, 5]

['e', 'c', 'd', 'h', 'd']