In [3]:
import pandas as pd
import numpy as np

# 23. 다음 객체에서 행의 각 요소에서 행의 평균을 뺀 값을 출력
# 행 : 가로로 퍼지며, 세로가 갯수가 됨
df = pd.DataFrame(np.random.random(size=(5, 3)))
df

          0         1         2
0  0.326980  0.140765  0.884659
1  0.466645  0.497151  0.797868
2  0.182199  0.004077  0.124855
3  0.219649  0.576880  0.470645
4  0.565989  0.561198  0.864343

In [4]:
df

          0         1         2
0  0.326980  0.140765  0.884659
1  0.466645  0.497151  0.797868
2  0.182199  0.004077  0.124855
3  0.219649  0.576880  0.470645
4  0.565989  0.561198  0.864343

In [ ]:
def sub(val, sub):
    return val-sub

for i in df.columns.values:
    avg = df[i].mean()
    df[i] = df[i].map(lambda a: sub(a, avg))
df

In [5]:
df.index.values

array([0, 1, 2, 3, 4], dtype=int64)

In [6]:
def sub(val, sub):
    return val-sub

for i in df.index.values:
    avg = df.loc[i].mean()
    df.loc[i] = df.loc[i].map(lambda a: sub(a, avg))
df

          0         1         2
0 -0.123821 -0.310037  0.433858
1 -0.120577 -0.090070  0.210647
2  0.078489 -0.099634  0.021145
3 -0.202743  0.154489  0.048254
4 -0.097854 -0.102646  0.200500